:root {
  --primary-color: #DDDDDD;
  --primary-bg: #272727;
  background: var(--primary-bg);
}

.container {
  color: var(--primary-color);
  max-width: 800px;
  margin: 0 auto;
  padding-top: 6rem;
  display: "flex";
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}

.row {
  padding: 0.4rem 0;
}
